// _sponsors.scss

.chevron {
  background-image: url("../img/sponsors/Chevron.png"); }

.rational-systems {
  background-image: url("../img/sponsors/rational-systems.png"); }

.goldenfrog {
  background-image: url("../img/sponsors/goldenfrog.png"); }

.palladium {
  background-image: url("../img/sponsors/palladium_stacked.png"); }

.microsoft {
  background-image: url("../img/sponsors/Microsoft2015.png"); }

.google {
  background-image: url("../img/sponsors/Google_Logo_2015.png"); }

.hbk {
  background-image: url("../img/sponsors/hbk.jpg"); }

.indeed {
  background-image: url("../img/sponsors/indeed_logo.png"); }

.ebay {
  background-image: url("../img/sponsors/ebay.jpg"); }

.epic {
  background-image: url("../img/sponsors/Epic.gif"); }

.facebook {
  background-image: url("../img/sponsors/facebook.png"); }

.tcs {
  background-image: url("../img/sponsors/TCS.jpg");
  width: 200px !important; }

.schlumberger {
  background-image: url("../img/sponsors/schlumberger.png"); }

.delphix {
  background-image: url("../img/sponsors/delphix.png"); }

.texas-instruments {
  background-image: url("../img/sponsors/texas-instruments.png"); }

.venmo {
  background-image: url("../img/sponsors/venmo.png"); }

.two-sig {
  background-image: url("../img/sponsors/2sig-cropped.png"); }

.two-sig-cropped {
  background-image: url("../img/sponsors/2sig-cropped.png"); }

.sendgrid {
  background-image: url("../img/sponsors/sendgrid.png"); }

.snapstream {
  background-image: url("../img/sponsors/snapStreamLogo.jpg"); }

.tableau {
  background-image: url("../img/sponsors/tableau.png"); }

.goldman-sachs {
  background-image: url("../img/sponsors/goldman-sachs.jpg"); }

.graphic-stock {
  background-image: url("../img/sponsors/GraphicStock.png"); }

.github {
  background-image: url("../img/sponsors/github.png"); }

.rice-cs {
  background-image: url("../img/sponsors/RiceComputerScience.png"); }

.rice-eng {
  background-image: url("../img/sponsors/RiceEngineeringThumb.png"); }

.rice-eng-alumni {
  background-image: url("../img/sponsors/RiceEngineeringAlumni.png"); }

.rice-ieee {
  background-image: url("../img/sponsors/rjceieee.png"); }

.ethernest {
  background-image: url("../img/sponsors/Ethernestlogowords.png"); }

.readyforce {
  background-image: url("../img/sponsors/Readyforce.png"); }

.challenge-post {
  background-image: url("../img/sponsors/ChallengePost.png"); }

.mlh {
  background-image: url("../img/sponsors/mlh-color.png"); }

.hacker-rank {
  background-image: url("../img/sponsors/hackerrank.png"); }

.aidap {
  background-image: url("../img/sponsors/aidap.png"); }

.alert-logic {
  background-image: url("../img/sponsors/alertlogic.png"); }

.kpcb {
  background-image: url("../img/sponsors/kpcb.png"); }