body, html {
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #dddddd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /*height: 100%;*/
  font-size: 16px; }

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin-top: 0; }

a {
  color: #369;
  text-decoration: none; }

table {
  width: 100%; }
  table th {
    text-align: left;
    background: #eee;
    color: #333;
    padding: 10px; }
  table td {
    padding: 10px 0; }

div.about {
  float: right;
  min-height: 400px;
  margin-top: 15px;
  margin-bottom: 15px; }

img.about-right {
  float: right;
  max-height: 400px;
  margin-left: 15px; }

img.about-left {
  float: left;
  max-height: 400px;
  margin-right: 15px; }

.split-col {
  width: 45%;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px; }
  .split-col img {
    width: 95%;
    margin-bottom: 10px; }

.center-col {
  width: 45%;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  margin: 0 auto; }
  .center-col img {
    width: 95%;
    margin-bottom: 10px; }

.standard-left-margin {
  margin-left: 20px; }

.standard-margin-top {
  margin-top: 20px; }

.header {
  height: 300px;
  position: relative;
  background: #fff;
  background: url(../img/Duncan.jpg) center 70%;
  background-size: cover; }
  .header .logo {
    display: block;
    font-size: 4em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    /*background: url(../img/2014logo.png) no-repeat center center;*/
    width: 500px;
    height: 162px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -81px; }
    @media (max-width: 800px) {
      .header .logo {
        background-size: 60%; } }
  .header .important-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 30px;
    padding: 20px;
    text-align: center; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.well {
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px; }

.button {
  display: inline-block;
  background: #5BB394;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  border-bottom: 3px solid #35735d;
  font-family: 'Roboto Condensed', sans-serif;
  transition: all 0.4s ease;
  margin-top: 10px;
  text-align: center; }
  .button:hover {
    background: #459679; }
  .button.large {
    border-radius: 10px;
    font-size: 1em;
    min-width: 100px;
    padding: 20px;
    font-weight: bold; }
  .button.alumni {
    background: #333;
    border-bottom: 3px solid black; }
    .button.alumni:hover {
      background: #4d4d4d; }
  .button.non-rice {
    background: #ccc;
    color: #333;
    border-bottom: 3px solid #999999; }
    .button.non-rice:hover {
      background: #d9d9d9; }

.content {
  max-width: 1000px;
  margin: auto; }

.intro {
  /*padding: 2 * $standard-padding;*/
  color: #333;
  padding: 60px 20px 40px 20px;
  text-align: center; }
  .intro .huge {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-size: 3em;
    margin-right: 20px;
    /*width: 33%;*/
    /*text-align: center;*/ }
  .intro .subtitle {
    margin-top: 20px;
    /*font-size: 2em;*/ }

.stats {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 40px;
  font-size: 3em; }

.apply {
  padding: 40px;
  /*background: #eee;*/ }

.page {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 4px;
  margin-bottom: 20px; }
  .page .break {
    margin-top: 40px;
    border-top: 1px solid #eee;
    margin-bottom: 40px; }

.nav {
  background: #333; }
  .nav a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    transition: all 0.4s ease;
    border-right: 1px solid #222;
    /*box-sizing: border-box;*/
    width: 13%;
    text-align: center;
    margin-right: -4px; }
    .nav a:hover {
      background: #5e6062; }
    @media (max-width: 965px) {
      .nav a {
        display: block;
        box-sizing: inherit;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #222; } }
    .nav a:first-child {
      border-left: 1px solid #292929; }

.registration {
  text-align: center; }

.location {
  display: inline-block; }
  .location .directions {
    float: left;
    width: 580px;
    margin-right: 15px; }
  .location .map {
    float: right; }

.sponsors {
  text-align: center;
  padding: 20px; }
  .sponsors .sponsor-logo {
    height: 100px;
    width: 400px; }
    .sponsors .sponsor-logo.square {
      width: 100px; }
  .sponsors .sponsor-person {
    display: inline-block;
    line-height: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    width: 200px; }
  .sponsors .sponsor-logo, .sponsors .chief-sponsor-logo, .sponsors .sponsor-person {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    vertical-align: top; }
    .sponsors .sponsor-logo:hover, .sponsors .chief-sponsor-logo:hover, .sponsors .sponsor-person:hover {
      opacity: 0.9; }
    @media (max-width: 800px) {
      .sponsors .sponsor-logo, .sponsors .chief-sponsor-logo, .sponsors .sponsor-person {
        width: 60%; } }
  .sponsors .chief {
    height: 300px;
    width: 600px; }
    .sponsors .chief.square {
      width: 300px; }
  .sponsors .elite {
    height: 150px;
    width: 300px; }
    .sponsors .elite.square {
      width: 150px; }
  .sponsors .agile {
    height: 100px;
    width: 200px; }
    .sponsors .agile.square {
      width: 125px; }
  .sponsors .partner {
    height: 100px;
    width: 200px; }
    .sponsors .partner.square {
      width: 100px; }
  .sponsors .big-o-notation {
    font-weight: bold; }
  .sponsors .o-1 {
    height: 300px;
    width: 600px; }
    .sponsors .o-1.square {
      width: 300px; }
  .sponsors .o-n {
    height: 150px;
    width: 300px; }
    .sponsors .o-n.square {
      width: 150px; }
  .sponsors .o-nlogn {
    height: 100px;
    width: 200px; }
    .sponsors .o-nlogn.square {
      width: 100px; }

.chevron {
  background-image: url(../img/sponsors/Chevron.png); }

.rational-systems {
  background-image: url(../img/sponsors/rational-systems.png); }

.goldenfrog {
  background-image: url(../img/sponsors/goldenfrog.png); }

.palladium {
  background-image: url(../img/sponsors/palladium_stacked.png); }

.microsoft {
  background-image: url(../img/sponsors/Microsoft2015.png); }

.google {
  background-image: url(../img/sponsors/Google_Logo_2015.png); }

.hbk {
  background-image: url(../img/sponsors/hbk.jpg); }

.indeed {
  background-image: url(../img/sponsors/indeed_logo.jpg); }

.ebay {
  background-image: url(../img/sponsors/ebay.jpg); }

.epic {
  background-image: url(../img/sponsors/Epic.gif); }

.facebook {
  background-image: url(../img/sponsors/facebook.png); }

.tcs {
  background-image: url(../img/sponsors/TCS.jpg);
  width: 200px !important; }

.schlumberger {
  background-image: url(../img/sponsors/schlumberger.png); }

.delphix {
  background-image: url(../img/sponsors/delphix.png); }

.texas-instruments {
  background-image: url(../img/sponsors/texas-instruments.png); }

.venmo {
  background-image: url(../img/sponsors/venmo.png); }

.two-sig {
  background-image: url(../img/sponsors/2sig.png); }

.two-sig-cropped {
  background-image: url(../img/sponsors/2sig-cropped.png); }

.sendgrid {
  background-image: url(../img/sponsors/sendgrid.png); }

.snapstream {
  background-image: url(../img/sponsors/snapStreamLogo.jpg); }

.tableau {
  background-image: url(../img/sponsors/tableau.png); }

.goldman-sachs {
  background-image: url(../img/sponsors/goldman-sachs.jpg); }

.graphic-stock {
  background-image: url(../img/sponsors/GraphicStock.png); }

.github {
  background-image: url(../img/sponsors/github.png); }

.rice-cs {
  background-image: url(../img/sponsors/RiceComputerScience.png); }

.rice-eng {
  background-image: url(../img/sponsors/RiceEngineeringThumb.png); }

.rice-eng-alumni {
  background-image: url(../img/sponsors/RiceEngineeringAlumni.png); }

.rice-ieee {
  background-image: url(../img/sponsors/rjceieee.png); }

.ethernest {
  background-image: url(../img/sponsors/Ethernestlogowords.png); }

.readyforce {
  background-image: url(../img/sponsors/Readyforce.png); }

.challenge-post {
  background-image: url(../img/sponsors/ChallengePost.png); }

.mlh {
  background-image: url(../img/sponsors/mlh-color.png); }

.hacker-rank {
  background-image: url(../img/sponsors/hackerrank.png); }

.rules-list {
  margin-left: 0;
  padding-left: 0; }
  .rules-list li {
    list-style-type: none;
    padding: 20px;
    margin-left: 0; }
    .rules-list li:nth-child(even) {
      background: #efefef; }

::selection {
  color: #333;
  background: #eee; }

.judge {
  clear: both;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden; }
  .judge img {
    height: 150px;
    float: left;
    margin-right: 10px; }

/*# sourceMappingURL=index.css.map */
