body, html {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 30px 0;
  margin: 0;
  height: 100%; }

h1, h2, h3, h4 {
  font-family: 'Viga', sans-serif; }

.header {
  background: #eee;
  height: 300px;
  position: relative; }
  .header .logo {
    display: block;
    font-size: 4em;
    color: #fff;
    text-decoration: none;
    background: #336699;
    text-align: center;
    border-radius: 4px;
    background: url(../img/customLogo.png);
    width: 433px;
    height: 83px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -216px;
    margin-top: -41px; }

.content {
  max-width: 1000px;
  margin: auto; }

.intro {
  background: pink;
  padding: 40px;
  background: #eee; }

.nav {
  background: #333; }
  .nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px; }
    .nav a:hover {
      color: #eee; }

.sponsors {
  text-align: center;
  padding: 20px; }
  .sponsors .sponsor-logo, .sponsors .chief-sponsor-logo, .sponsors .sponsor-person {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    vertical-align: top; }
    .sponsors .sponsor-logo:hover, .sponsors .chief-sponsor-logo:hover, .sponsors .sponsor-person:hover {
      opacity: 0.9; }
  .sponsors .break {
    margin-top: 10px;
    margin-bottom: 10px; }
  .sponsors .chief-sponsor-logo {
    height: 200px;
    width: 400px; }
    .sponsors .chief-sponsor-logo.square {
      width: 200px; }
  .sponsors .sponsor-logo {
    height: 100px;
    width: 400px; }
    .sponsors .sponsor-logo.square {
      width: 100px; }
  .sponsors .sponsor-person {
    display: inline-block;
    background: #eee;
    line-height: 100px;
    padding: 0 20px; }

.chevron {
  background-image: url(../img/sponsors/Chevron.png); }

.microsoft {
  background-image: url(../img/sponsors/Microsoft.png); }

.google {
  background-image: url(../img/sponsors/Google.png); }

.epic {
  background-image: url(../img/sponsors/Epic.gif); }

.rice-cs {
  background-image: url(../img/sponsors/RiceComputerScience.png); }

.rice-eng {
  background-image: url(../img/sponsors/RiceEngineeringThumb.png); }
