$tablet-width: 1000px;
$standard-padding: 20px;
$primary-color: #369;

$color-green: #5BB394;

$logo-width: 500px;
$logo-height: 162px;

$sponsor-standard-width: 200px;
$sponsor-standard-height: 100px;

body, html {
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#dddddd 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#dddddd 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /*height: 100%;*/
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

a {
    color: $primary-color;
    text-decoration: none;
}

table {
    width: 100%;

    th {
        text-align: left;
        background: #eee;
        color: #333;
        padding: $standard-padding/2;
    }

    td {
        padding: $standard-padding/2 0;
    }
}

div.about {
    float: right;
    min-height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.about-right {
    float: right;
    max-height: 400px;
    margin-left: 15px;
}

img.about-left {
    float: left;
    max-height: 400px;
    margin-right: 15px;
}

.split-col {
    width: 45%;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    img {
        width: 95%;
        margin-bottom: 10px;
    }
}

.center-col {
    width: 45%;
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    img {
        width: 95%;
        margin-bottom: 10px;
    }   
    margin: 0 auto;
}

.standard-left-margin {
    margin-left: $standard-padding;
}

.standard-margin-top {
    margin-top: $standard-padding;
}

.header {
    height: 300px;
    position: relative;
    background: #fff;
    background: url(../img/Duncan.jpg) center 70%;
    background-size: cover;

    .logo {
        display: block;
        font-size: 4em;
        color: #fff;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        /*background: url(../img/2014logo.png) no-repeat center center;*/
        width: $logo-width;
        height: $logo-height;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -$logo-width / 2;
        margin-top: -$logo-height / 2;

        @media (max-width: 800px) {
            background-size: 60%;
        }
    }

    .important-info {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: 30px;
        padding: $standard-padding;
        text-align: center;
    }
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.well {
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: $standard-padding;
}

.button {
    display: inline-block;
    background: $color-green;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    border-bottom: 3px solid darken($color-green, 20%);
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.4s ease;
    margin-top: 10px;
    text-align: center;

    &:hover {
        background: darken($color-green, 10%);
    }

    &.large {
        border-radius: 10px;
        font-size: 1em;
        min-width: 100px;
        padding: $standard-padding;
        font-weight: bold;
    }

    &.alumni {
        background: #333;
        border-bottom: 3px solid darken(#333, 20%);

        &:hover {
            background: lighten(#333, 10%);
        }
    }

    &.non-rice {
        background: #ccc;
        color: #333;
        border-bottom: 3px solid darken(#ccc, 20%);

        &:hover {
            background: lighten(#ccc, 5%);
        }
    }
}

.content {
    max-width: 1000px;
    margin: auto;
}

.intro {
    /*padding: 2 * $standard-padding;*/
    // background: #D8E6F2;
    color: #333;
    padding: 3 * $standard-padding $standard-padding 2 * $standard-padding $standard-padding;
    // background: #DFE7ED;
    // border-bottom: 1px solid darken(#DFE7ED, 5%);
    text-align: center;

    .huge {
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        font-size: 3em;
        margin-right: $standard-padding;
        /*width: 33%;*/
        /*text-align: center;*/
    }

    .subtitle {
        margin-top: $standard-padding;
        /*font-size: 2em;*/
    }
}

.stats {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2 * $standard-padding;
    font-size: 3em;
}

.apply {
    padding: 2 * $standard-padding;
    /*background: #eee;*/
}

.page {
    max-width: 1000px;
    margin: auto;
    margin-top: $standard-padding;
    background: #fff;
    border: 1px solid #ddd;
    padding: 2 * $standard-padding;
    border-radius: 4px;
    margin-bottom: $standard-padding;

    .break {
        margin-top: 2 * $standard-padding;
        border-top: 1px solid #eee;
        margin-bottom: 2 * $standard-padding;
    }
}

.nav {

    background: #333;
    // text-align: center;

    a {
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 16px;
        transition: all 0.4s ease;
        border-right: 1px solid #222;
        /*box-sizing: border-box;*/
        // width: 9%;
        width: 13%;
        text-align: center;
        margin-right: -4px;

        &:hover {
            background: #5e6062;
        }

        @media (max-width: 965px) {
            display: block;
            box-sizing: inherit;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid #222
        }

        &:first-child {
            border-left: 1px solid #292929;
        }
    }
}

.registration {
    text-align: center;
}

.location {
    display: inline-block;

    .directions {
        float: left;
        width: 580px;
        margin-right: 15px;
    }

    .map {
        float: right;
    }
}

.sponsors {

    text-align: center;
    padding: $standard-padding;

    .sponsor-logo {
        height: 100px;
        width: 400px;

        &.square {
            width: 100px;
        }
    }

    .sponsor-person {
        display: inline-block;
        line-height: 25px;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
        width: 200px;
    }

    .sponsor-logo, .chief-sponsor-logo, .sponsor-person {
        margin-left: 20px;
        text-decoration: none;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
        vertical-align: top;

        &:hover {
            opacity: 0.9;
        }

        @media (max-width: 800px) {
            width: 60%;
        }
    }

    .chief {
        height: $sponsor-standard-height * 3;
        width: $sponsor-standard-width * 3;

        &.square {
            width: $sponsor-standard-height * 3;
        }
    }

    .elite {
        height: $sponsor-standard-height * 1.5;
        width: $sponsor-standard-width * 1.5;

        &.square {
            width: $sponsor-standard-height * 1.5;
        }
    }

    .agile {
        height: $sponsor-standard-height;
        width: $sponsor-standard-width;

        &.square {
            width: $sponsor-standard-height * 1.25;
        }
    }

    .partner {
        height: $sponsor-standard-height;
        width: $sponsor-standard-width;

        &.square {
            width: $sponsor-standard-height;
        }
    }

    .big-o-notation {
        font-weight: bold;
    }

    .o-1 {
        height: $sponsor-standard-height * 3;
        width: $sponsor-standard-width * 3;

        &.square {
            width: $sponsor-standard-height * 3;
        }
    }

    .o-n {
        height: $sponsor-standard-height * 1.5;
        width: $sponsor-standard-width * 1.5;

        &.square {
            width: $sponsor-standard-height * 1.5;
        }
    }

    .o-nlogn {
        height: $sponsor-standard-height;
        width: $sponsor-standard-width;

        &.square {
            width: $sponsor-standard-height;
        }
    }
}

.chevron {
    background-image: url(../img/sponsors/Chevron.png);
}

.rational-systems {
    background-image: url(../img/sponsors/rational-systems.png);
}

.palladium {
    background-image: url(../img/sponsors/palladium_stacked.png);
}

.microsoft {
    background-image: url(../img/sponsors/Microsoft2015.png);
}
 
.google {
    background-image: url(../img/sponsors/Google_Logo_2015.png);
}

.hbk {
    background-image: url(../img/sponsors/hbk.jpg);
}

.indeed {
    background-image: url(../img/sponsors/indeed_logo.jpg);
}

.epic {
    background-image: url(../img/sponsors/Epic.gif);
}

.facebook {
    background-image: url(../img/sponsors/facebook.png);
}

.tcs {
    background-image: url(../img/sponsors/TCS.jpg);
    width: 200px !important;
}

.schlumberger {
    background-image: url(../img/sponsors/schlumberger.png);
}

.delphix {
    background-image: url(../img/sponsors/delphix.png);
}

.texas-instruments {
    background-image: url(../img/sponsors/texas-instruments.png);
}

.venmo {
    background-image: url(../img/sponsors/venmo.png);
}

.two-sig {
    background-image: url(../img/sponsors/2sig.png);
}

.two-sig-cropped {
    background-image: url(../img/sponsors/2sig-cropped.png);
}

.sendgrid {
    background-image: url(../img/sponsors/sendgrid.png);
}

.snapstream {
    background-image: url(../img/sponsors/snapStreamLogo.jpg);
}

.tableau {
    background-image: url(../img/sponsors/tableau.png);
}

.goldman-sachs {
    background-image: url(../img/sponsors/goldman-sachs.jpg);
}

.github {
    background-image: url(../img/sponsors/github.png);
}

.rice-cs {
    background-image: url(../img/sponsors/RiceComputerScience.png);
}

.rice-eng {
    background-image: url(../img/sponsors/RiceEngineeringThumb.png);
}

.rice-eng-alumni {
    background-image: url(../img/sponsors/RiceEngineeringAlumni.png);
}

.readyforce {
    background-image: url(../img/sponsors/Readyforce.png);
}

.challenge-post {
    background-image: url(../img/sponsors/ChallengePost.png);
}

.mlh {
    background-image: url(../img/sponsors/mlh-color.png);
}

.rules-list {

    margin-left: 0;
    padding-left: 0;

    li {
        list-style-type: none;
        padding: $standard-padding;
        margin-left: 0;

        &:nth-child(even) {
            background: #efefef;
        }
    }
}

::selection {
    color: #333;
    background: #eee;
}

.judge {
    clear: both;
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
    img {
        height: 150px;
        float: left;
        margin-right: 10px;
    }
}
