body, html {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /*height: 100%;*/
  font-size: 16px; }

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin-top: 0; }

a {
  color: #336699;
  text-decoration: none; }

table {
  width: 100%; }
  table th {
    text-align: left;
    background: #eee;
    padding: 10px; }
  table td {
    padding: 10px 0; }

.standard-left-margin {
  margin-left: 20px; }

.standard-margin-top {
  margin-top: 20px; }

.header {
  background: #eee;
  height: 300px;
  position: relative;
  /*background: url(../img/background-blur.png) center center;*/
  background-size: cover; }
  .header .logo {
    display: block;
    font-size: 4em;
    color: #fff;
    text-decoration: none;
    background: #336699;
    text-align: center;
    border-radius: 4px;
    background: url(../img/customLogo.png) no-repeat center center;
    width: 433px;
    height: 83px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -216px;
    margin-top: -41px; }
    .header .logo:hover {
      opacity: 0.8; }
    @media (max-width: 800px) {
      .header .logo {
        background-size: 60%; } }
  .header .important-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center; }

.well {
  background: #efefef;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px; }

.button {
  display: inline-block;
  background: #336699;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  border-bottom: 3px solid #19334d;
  font-family: 'Roboto Condensed', sans-serif;
  transition: all 0.4s ease;
  margin-top: 10px; }
  .button:hover {
    background: #407fbf; }
  .button.large {
    font-size: 2em;
    padding: 20px; }
  .button.alumni {
    background: #333;
    border-bottom: 3px solid black; }
    .button.alumni:hover {
      background: #4d4d4d; }
  .button.non-rice {
    background: #33995F;
    border-bottom: 3px solid #194d30; }
    .button.non-rice:hover {
      background: #39ac6b; }

.content {
  max-width: 1000px;
  margin: auto; }

.intro {
  /*padding: 2 * $standard-padding;*/
  /*background: #eee;*/ }

.stats {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 40px;
  font-size: 3em; }

.apply {
  padding: 40px;
  /*background: #eee;*/ }

.page {
  background: #fff;
  border-bottom: 3px solid #ccc;
  padding: 40px;
  border-radius: 4px;
  margin-bottom: 20px; }
  .page .break {
    margin-top: 40px;
    border-top: 1px solid #eee;
    margin-bottom: 40px; }

.nav {
  background: #333;
  text-align: center; }
  .nav a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: all 0.4s ease; }
    .nav a:hover {
      color: #eee;
      background: #5e6062; }
    @media (max-width: 800px) {
      .nav a {
        display: block; } }

.sponsors {
  text-align: center;
  padding: 20px; }
  .sponsors .chief-sponsor-logo {
    height: 200px;
    width: 400px; }
    .sponsors .chief-sponsor-logo.square {
      width: 200px; }
  .sponsors .sponsor-logo {
    height: 100px;
    width: 400px; }
    .sponsors .sponsor-logo.square {
      width: 100px; }
  .sponsors .sponsor-person {
    display: inline-block;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left; }
  .sponsors .sponsor-logo, .sponsors .chief-sponsor-logo, .sponsors .sponsor-person {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    vertical-align: top; }
    .sponsors .sponsor-logo:hover, .sponsors .chief-sponsor-logo:hover, .sponsors .sponsor-person:hover {
      opacity: 0.9; }
    @media (max-width: 800px) {
      .sponsors .sponsor-logo, .sponsors .chief-sponsor-logo, .sponsors .sponsor-person {
        width: 60%; } }

.chevron {
  background-image: url(../img/sponsors/Chevron.png); }

.microsoft {
  background-image: url(../img/sponsors/Microsoft.png); }

.google {
  background-image: url(../img/sponsors/Google.png); }

.epic {
  background-image: url(../img/sponsors/Epic.gif); }

.rice-cs {
  background-image: url(../img/sponsors/RiceComputerScience.png); }

.rice-eng {
  background-image: url(../img/sponsors/RiceEngineeringThumb.png); }

.rules-list {
  margin-left: 0;
  padding-left: 0; }
  .rules-list li {
    list-style-type: none;
    padding: 20px;
    margin-left: 0; }
    .rules-list li:nth-child(even) {
      background: #efefef; }

::selection {
  color: #333;
  background: #eee; }
