$tablet-width: 1000px;
$standard-padding: 20px;
$primary-color: #369;

body, html {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 30px 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Viga', sans-serif;
}

.header {
    background: #eee;
    height: 300px;
    position: relative;

    .logo {
        display: block;
        font-size: 4em;
        color: #fff;
        text-decoration: none;
        background: $primary-color;
        text-align: center;
        border-radius: 4px;
        background: url(../img/customLogo.png);
        width: 433px;
        height: 83px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -216px;
        margin-top: -41px;
    }
}

.content {
    max-width: 1000px;
    margin: auto;
}

.intro {
    background: pink;
    padding: 2 * $standard-padding;
    background: #eee;
}

.nav {
    background: #333;

    a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 20px;

        &:hover {
            color: #eee;
        }
    }
}

.sponsors {

    text-align: center;
    padding: $standard-padding;

    .sponsor-logo, .chief-sponsor-logo, .sponsor-person {
        margin-left: 20px;
        text-decoration: none;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
        vertical-align: top;

        &:hover {
            opacity: 0.9;
        }
    }

    .break {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chief-sponsor-logo {
        height: 200px;
        width: 400px;

        &.square {
            width: 200px;
        }
    }

    .sponsor-logo {
        height: 100px;
        width: 400px;

        &.square {
            width: 100px;
        }
    }

    .sponsor-person {
        display: inline-block;
        background: #eee;
        line-height: 100px;
        padding: 0 20px;
    }
}

.chevron {
    background-image: url(../img/sponsors/Chevron.png);
}

.microsoft {
    background-image: url(../img/sponsors/Microsoft.png);
}

.google {
    background-image: url(../img/sponsors/Google.png);
}

.epic {
    background-image: url(../img/sponsors/Epic.gif);
}

.rice-cs {
    background-image: url(../img/sponsors/RiceComputerScience.png);
}

.rice-eng {
    background-image: url(../img/sponsors/RiceEngineeringThumb.png);
}