$tablet-width: 1000px;
$standard-padding: 20px;
$primary-color: #369;

body, html {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 $standard-padding 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

a {
    color: $primary-color;
    text-decoration: none;
}

table {
    width: 100%;

    th {
        text-align: left;
        background: #eee;
        padding: $standard-padding/2;
    }

    td {
        padding: $standard-padding/2 0;
    }
}

.standard-left-margin {
    margin-left: $standard-padding;
}

.standard-margin-top {
    margin-top: $standard-padding;
}

.header {
    background: #eee;
    height: 300px;
    position: relative;
    /*background: url(../img/background-blur.png) center center;*/
    background-size: cover;

    .logo {
        display: block;
        font-size: 4em;
        color: #fff;
        text-decoration: none;
        background: $primary-color;
        text-align: center;
        border-radius: 4px;
        background: url(../img/customLogo.png) no-repeat center center;
        width: 433px;
        height: 83px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -216px;
        margin-top: -41px;

        @media (max-width: 800px) {
            background-size: 60%;
        }
    }

    .important-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $standard-padding;
        text-align: center;
    }
}

.well {
    background: #efefef;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: $standard-padding;
}

.button {
    display: inline-block;
    background: $primary-color;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    border-bottom: 3px solid darken($primary-color, 20%);
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.4s ease;
    margin-top: 10px;

    &:hover {
        background: lighten($primary-color, 10%);
    }

    &.large {
        font-size: 2em;
        padding: $standard-padding;
    }

    &.alumni {
        background: #333;
        border-bottom: 3px solid darken(#333, 20%);

        &:hover {
            background: lighten(#333, 10%);
        }
    }

    &.non-rice {
        background: #33995F;
        border-bottom: 3px solid darken(#33995F, 20%);

        &:hover {
            background: lighten(#33995F, 5%);
        }
    }
}

.content {
    max-width: 1000px;
    margin: auto;
}

.intro {
    /*padding: 2 * $standard-padding;*/
    /*background: #eee;*/
}

.stats {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2 * $standard-padding;
    font-size: 3em;
}

.apply {
    padding: 2 * $standard-padding;
    /*background: #eee;*/
}

.page {
    background: #fff;
    border-bottom: 3px solid #ccc;
    padding: 2 * $standard-padding;
    border-radius: 4px;

    .break {
        margin-top: 2 * $standard-padding;
        border-top: 1px solid #eee;
        margin-bottom: 2 * $standard-padding;
    }
}

.nav {

    background: #333;
    text-align: center;

    a {
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: $standard-padding;
        transition: all 0.4s ease;

        &:hover {
            color: #eee;
            background: #5e6062;
        }

        @media (max-width: 800px) {
            display: block;
        }
    }
}

.sponsors {

    text-align: center;
    padding: $standard-padding;

    .chief-sponsor-logo {
        height: 200px;
        width: 400px;

        &.square {
            width: 200px;
        }
    }

    .sponsor-logo {
        height: 100px;
        width: 400px;

        &.square {
            width: 100px;
        }
    }

    .sponsor-person {
        display: inline-block;
        line-height: 40px;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
    }

    .sponsor-logo, .chief-sponsor-logo, .sponsor-person {
        margin-left: 20px;
        text-decoration: none;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
        vertical-align: top;

        &:hover {
            opacity: 0.9;
        }

        @media (max-width: 800px) {
            width: 60%;
        }
    }
}

.chevron {
    background-image: url(../img/sponsors/Chevron.png);
}

.microsoft {
    background-image: url(../img/sponsors/Microsoft.png);
}

.google {
    background-image: url(../img/sponsors/Google.png);
}

.epic {
    background-image: url(../img/sponsors/Epic.gif);
}

.rice-cs {
    background-image: url(../img/sponsors/RiceComputerScience.png);
}

.rice-eng {
    background-image: url(../img/sponsors/RiceEngineeringThumb.png);
}

.rules-list {

    margin-left: 0;
    padding-left: 0;

    li {
        list-style-type: none;
        padding: $standard-padding;
        margin-left: 0;

        &:nth-child(even) {
            background: #efefef;
        }
    }
}

::selection {
    color: #fff;
    background: $primary-color;
}