body, html {
	background: #fff;
	font-family: 'Droid Sans', sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

h1{
	font-family: 'Droid Sans', monospace;
	color: #333;
	letter-spacing: -1px;
	margin-top: 40px;
}

h2 {
	margin-top: 40px;
	font-size: 1.2em;
	color: #333;
	background: #eee;
	display: inline-block;
	padding: 5px;
}

p {
	margin-left: 20px;
	font-size: 16px;
	line-height: 1.6em;
}

.event {
	line-height: 1.6em;
	margin-left: 20px;
	font-size: 16px;
}

.time {
	width: 200px;
	display: inline-block;
}

.message {
	display: inline-block;
}

.sponoser-logo {
	max-width: 200px;
	margin: 10px;
}

.sponser-person {
	width: 200px;
	line-height: 25px;
	height: 50px;
	margin: 10px;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}

#rice {
	min-width: 1200px;
	background: #202020 url('../img/resized_rice_interlaced.png') center -450px no-repeat;
	height: 300px;
	padding-top: 1px;
	width: auto;
}

.faq {
	background: #222 url('../img/assault.png') repeat;
	color: #eee;
	padding:40px;
}

.content {
	max-width: 1000px;
	min-width: 1000px;
	padding: 0 100px;
	margin: auto;
}

#main {
	padding-bottom: 70px;
}

#navi {
	background: #fff;
	color: #ccc;
	height: 100px;
}

a {
	color: #23BBF7;
	text-decoration: none;
}

a:hover {
	color: #333;
	border-bottom: 1px solid #eee;
}

#navi a {
	display: inline-block;
	color: #666;
	padding: 0 10px;
	line-height: 100px;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#navi a:hover {
	background: url('../img/skelatal_weave.png');
	border-bottom: none;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.hero {
	font-size: 1em;
	display: block;
	background: rgba(255,255,255,0.8);
	color: rgba(100,100,100,0.9);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
	margin: auto;
	text-align: center;
	font-family: 'Georgia';
	font-style: italic;
}

.hero_one {margin-top: 220px;}
.hero_two {margin-top: 20px;}

.page {
	width: 46%;
	margin-bottom: 40px;
}

.left {
	float: left;
	clear: left;
}

.right {
	float: right;
	clear: right;
}

#registration {
	background: #eeeefe;
	padding: 20px;
}

#logo {
	width: 240px;
	height: 100px;
	background: url('../img/customLogo.png') no-repeat center center;
	background-size: contain;
	display: inline-block;
}