/*
*  HackRice 7
*  Landing Page CSS
*  William Wang
*/

/* Hero */

#hero {
	height: 100vh;
	background: url(../img/bg-filter.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero #hero-shout {
	margin-top: 15px;
	color: #fff;
}

#hero #hero-logo {
	display: inline-block;
	width: 150px;
}

#hero #hero-title {
	display: inline-block;
	font-family: "Quicksand", Arial, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	margin-left: 0;
	font-size: 3rem;
	letter-spacing: 1px;
	text-transform: lowercase;
}

#hero #hero-top {
	border-bottom: none;
	text-align: center;
}

#hero #hero-bottom {
	text-align: center;
}

#hero #hero-subtitle {
	font-size: 1.25rem;
	font-family: "Roboto", Arial, sans-serif;
}

#hero #hero-button-wrapper {
	height: 100%;
	width: 100%;
	text-align: center;
}

#hero #hero-button {
	font-family: "Roboto", Arial, sans-serif;
}

/* Intro */

#intro {
	height: 100vh;
	background-color: #000;
}

#intro #teaser {
  width: 100%;
  height: 100%;  /* death to resizing */
  object-fit: fill;
  z-index: 10;

  -webkit-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
}

#intro .floating {
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 100%;
	z-index: 11;
}

#intro #intro-container {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	color: #fff;
}

#intro #intro-title {
	margin-top: 50px;
	font-size: 1.8rem;
	font-family: "Consolas", monospace;
}

#intro #intro-blurb {
	margin-top: 30px;
}

/* Sponsor */

#s-blurb {
	margin-left: 15px;
	margin-right: 15px;
}

.s-logo {
	max-height: 70px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.s-blurbable {
	cursor: pointer;
}

/* Notification */

#notification {
	position: fixed;
	bottom: 0;
	right: .75rem;
	z-index: 9999;
}

.notification .delete {
	/* https://github.com/jgthms/bulma/issues/490 */
	padding: 0;
}

/* Modal */

#modal-content {
	color: #fff;
}

#modal-close {
	z-index: 10000;
}


/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* For column adjustment */
@media (min-width: 769px) {

	#hero #hero-bottom {
		text-align: left;
	}

	#hero #hero-button-wrapper {
		text-align: right;
	}

}

/* DESKTOP (target 1366-ish) */
@media (min-width: 1000px) {

	#hero #hero-shout {
		margin-top: 50px;
	}

	#hero #hero-logo {
		width: 190px;
	}

	#hero #hero-title {
		margin-left: 40px;
		font-size: 4rem;
	}

	#hero #hero-top {
		text-align: left;
		border-bottom: 3px solid #fff;
	}

	#hero #hero-subtitle {
		margin-top: 15px;
		font-size: 1.375rem;
	}

	#hero #hero-button {
		margin-top: 30px;
	}

	#intro #intro-container {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 25px;
	}

	#intro #intro-title {
		font-size: 2.5rem;
	}

	#notification {
		right: 1.5rem;
		bottom: 0.5rem;
	}

}

/* FULL HD */
@media (min-width: 1384px) {

	#hero #hero-shout {
		margin-top: 100px;
	}

	#hero #hero-logo {
		width: 250px;
	}

	#hero #hero-title {
		margin-left: 50px;
		font-size: 5rem;
	}

	#hero #hero-subtitle {
		margin-top: 40px;
		font-size: 2rem;
	}

	#hero #hero-button {
		margin-top: 35px;
	}

	#intro #intro-title {
		font-size: 3rem;
	}

	#intro #intro-container {
		margin-top: 50px;
	}

	#intro #intro-blurb {
		margin-top: 50px;
	}

	#s-blurb {
		margin-left: 0;
		margin-right: 0;
	}

}

/* Typed.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
