body {
  background-color: #465362; }

h1, h2, h3 {
  color: white; }

section {
  padding-top: 15px;
  padding-bottom: 15px; }
  section h2 {
    padding: 15px;
    color: white;
    background-color: #465362;
    margin-bottom: 15px; }

@media (max-device-width: 860px), (max-width: 860px) {
  .section-text p {
    text-align: left; } }

.live-accent {
  color: #F2AE6A; }

.full-subtitle {
  margin-top: 30px;
  margin-left: 10%; }
  @media (max-device-width: 860px), (max-width: 860px) {
    .full-subtitle {
      margin-left: 20%; } }

.half-subtitle {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px; }

.s-live {
  padding-top: 0; }
  .s-live .section-text {
    margin-top: 0;
    padding-top: 0; }

#s-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; }

.s-cover3 {
  background: url("../img/bg-live.jpg") center bottom no-repeat;
  background-size: cover;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#s-live-title {
  margin-top: 50px; }

#banner-logo {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 125px;
  display: block; }

.links-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: top;
  align-items: top;
  width: 80%; }
  @media (max-device-width: 860px), (max-width: 860px) {
    .links-wrap {
      margin: 0 auto; } }

.links-box {
  margin: 10px;
  width: 16%;
  padding: 25px;
  background-color: white;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  @media (max-device-width: 860px), (max-width: 860px) {
    .links-box {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 60%; } }
  .links-box:hover {
    background-color: #F2AE6A;
    color: white; }

.s-side {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: top;
  align-items: top;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0;
  padding-bottom: 0; }

.live-column {
  width: 48%; }
  @media (max-device-width: 860px), (max-width: 860px) {
    .live-column {
      width: 80%;
      margin: 0 auto; } }

.side-sect {
  margin: 0;
  width: 100%; }

#s-live-workshops {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px; }

.live-workshop {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3); }
  .live-workshop span, .live-workshop p {
    color: white; }

.company-workshop {
  background-color: rgba(242, 174, 106, 0.3); }

.workshop-subtitle {
  font-size: 13px;
  color: #F2AE6A !important; }

.s-links .section-text, .s-links .links-wrap {
  margin-top: 0; }

.s-map {
  margin: 0 auto; }
  .s-map h3 {
    margin-left: 20%; }

.map-img {
  width: 80%; }

#s-footer {
  background-color: transparent; }
