@import 'general';

body {
	background-color: $color-dark-blue;
}

h1, h2, h3 {
	color: white;
}

section {
	padding-top: 15px;
	padding-bottom: 15px;
	h2 {
		padding: 15px;
		color: white;
		background-color: $color-dark-blue;
		margin-bottom: 15px;
	}
}
	// .s-live {
	// 	background-color: rgba(255, 255, 255, 0.5);
	// 	width: 40%;
	// }

	.section-text {
	    @media (max-device-width: 860px), (max-width: 860px) {
	        p {
	        	text-align: left;
	        }
	    }
	}
	.live-accent {
		color: $color-accent-orange;
	}
.full-subtitle {
	margin-top: 30px;
	margin-left: 10%;
	@media (max-device-width: 860px), (max-width: 860px) {
		margin-left: 20%;
	}
}
.half-subtitle {
	margin-left: 0;
	margin-right: 0;
	margin-top: 30px;
}
.s-live {
	padding-top: 0;
	.section-text {
		margin-top: 0;
		padding-top: 0;
	}
}

#s-cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}
	.s-cover3 {
	    background: url('../img/bg-live.jpg') center bottom no-repeat;
	    background-size: cover;
	    @include transition(0.25s, ease-in--ut, all);
	}
#s-live-title {
	margin-top: 50px;
}
	#banner-logo {
		margin-top: 0px;
		margin-bottom: 20px;
		width: 125px;
		display: block;
	}

.links-wrap {
	@include flex();
	@include flex-wrap(wrap);
    @include flex-justify-content(space-between);
    @include flex-align(top);
    width: 80%;
    @media (max-device-width: 860px), (max-width: 860px) {
    	margin: 0 auto;
    }
}
	.links-box {
		margin: 10px;
		width: 16%;
		padding: 25px;
		background-color: white;
		text-align: center;
		@media (max-device-width: 860px), (max-width: 860px) {
			margin: 0 auto;
			margin-bottom: 10px;
			width: 60%;
		}
		&:hover {
			background-color: $color-accent-orange;
			color: white;
		}
		@include transition(0.25s, ease-in-out);
	}

.s-side {
	@include flex();
	@include flex-wrap(wrap);
    @include flex-justify-content(space-between);
    @include flex-align(top);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
}
	.live-column {
		width: 48%;
		@media (max-device-width: 860px), (max-width: 860px) {
			width: 80%;
			margin: 0 auto;
		}
	}
	.side-sect {
		margin: 0;
		width: 100%;
	}

#s-live-workshops {
	overflow: scroll;
	height: 600px;
}
	.live-workshop {
		width: 100%;
		height: 150px;
		margin-bottom: 10px;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.3);
		span, p {
			color: white;
		}
	}
	.company-workshop {
		background-color: rgba(242, 174, 106, 0.3);
	}
	.workshop-subtitle {
		font-size: 13px;
		color: $color-accent-orange !important;
	}
.s-links {
	.section-text, .links-wrap {
		margin-top: 0;
	}
}
.s-map {
	margin: 0 auto;
	h3 {
		margin-left: 20%;
	}
}
.map-img {
	width: 80%;
}
#s-footer {
	background-color: transparent;
}