/*
*  HackRice 7
*  Live Page CSS
*  William Wang
*/


/* Sidebar */

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	z-index: 9998;
}

.sidebar-bg {
	position: fixed;
	width: inherit;
	height: 80px;
	background-color: #404040;
}

.sidebar-opaque {
	opacity: .85;
}

.sidebar .sidebar-content {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-left: 15px;
	z-index: 9999;
}

.sidebar #sidebar-logo {
	display: inline-block;
	height: 50px;
}

/* Page content */

#full-container {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(../img/bg-live-rsz.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#full-container-prizes {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: url(../img/bg-filter.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content-container {
	padding-top: 80px;
}

/* Overrides */
.box {
	background-color: rgba(255, 255, 255, 0.85);
}

ul.spaced > li:not(:first-child) {
	margin: 12.5px 0;
}

a {
	color: #272f45;
}
a:hover {
	color: #0b1328;
}

/* Media queries */

@media (min-width: 769px) {

	.sidebar {
		width: 120px;
		height: 100vh;
	}

	.sidebar-bg {
		height: 100vh;
	}

	.sidebar .sidebar-content {
		margin-top: 25px;
		margin-left: 0;
		text-align: center;
		flex-direction: column;
	}

	.sidebar #sidebar-logo {
		display: inline-block;
		height: 70px;
	}

	#content-container {
		padding-top: 0;
		padding-left: 120px;
	}
}