@import 'general';

body {
	background-color: $color-dark-blue;
}

h1, h2, h3 {
	color: white;
}

section {
	padding-top: 15px;
	padding-bottom: 15px;
	h2 {
		padding: 15px;
		color: white;
		background-color: $color-dark-blue;
		margin-bottom: 15px;
	}
}
	// .s-live {
	// 	background-color: rgba(255, 255, 255, 0.5);
	// 	width: 40%;
	// }

	.section-text {
	    @media (max-device-width: 860px), (max-width: 860px) {
	        p {
	        	text-align: left;
	        }
	    }
	}
	.live-accent {
		color: $color-accent-orange;
	}
.full-subtitle {
	margin-top: 30px;
	margin-left: 10%;
}
.half-subtitle {
	margin-left: 0;
	margin-right: 0;
	margin-top: 30px;
}
.s-live {
	padding-top: 0;
	.section-text {
		margin-top: 0;
		padding-top: 0;
	}
}

#s-cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}
	.s-cover3 {
	    background: url('../img/bg-live.jpg') center bottom no-repeat;
	    background-size: cover;
	    @include transition(0.25s, ease-in--ut, all);
	}
#s-live-title {
	margin-top: 50px;
}
	#banner-logo {
		margin-top: 0px;
		margin-bottom: 20px;
		width: 125px;
		display: block;
	}
#s-announce {
	width: 80%;
	margin: 0 auto;
}
#s-announce .section-text {
	background-color: white;
	width: 100%;
	padding: 30px;
	background-clip: padding-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.s-side {
	@include flex();
	@include flex-wrap(wrap);
    @include flex-justify-content(space-between);
    @include flex-align(top);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
}
	.side-sect {
		margin: 0;
		width: 48%;
		// margin-left: 0;
		// margin-right: 0;
	}
#s-live-events {
	@include flex();
	@include flex-direction(column);
	overflow: scroll;
	height: 600px;
}
	.live-event {
		width: 100%;
		height: 200px;
		margin: 10px;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.3);
		span, p {
			color: white;
		}
	}