body {
  background-color: #465362; }

h1, h2, h3 {
  color: white; }

section {
  padding-top: 15px;
  padding-bottom: 15px; }
  section h2 {
    padding: 15px;
    color: white;
    background-color: #465362;
    margin-bottom: 15px; }

@media (max-device-width: 860px), (max-width: 860px) {
  .section-text p {
    text-align: left; } }

.live-accent {
  color: #F2AE6A; }

.full-subtitle {
  margin-top: 30px;
  margin-left: 10%; }

.half-subtitle {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px; }

.s-live {
  padding-top: 0; }
  .s-live .section-text {
    margin-top: 0;
    padding-top: 0; }

#s-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; }

.s-cover3 {
  background: url("../img/bg-live.jpg") center bottom no-repeat;
  background-size: cover;
  -webkit-transition: all 0.25s ease-in--ut;
  -o-transition: all 0.25s ease-in--ut;
  transition: all 0.25s ease-in--ut; }

#s-live-title {
  margin-top: 50px; }

#banner-logo {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 125px;
  display: block; }

#s-announce {
  width: 80%;
  margin: 0 auto; }

#s-announce .section-text {
  background-color: white;
  width: 100%;
  padding: 30px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.s-side {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: top;
  align-items: top;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0;
  padding-bottom: 0; }

.side-sect {
  margin: 0;
  width: 48%; }

#s-live-events {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: scroll;
  height: 600px; }

.live-event {
  width: 100%;
  height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3); }
  .live-event span, .live-event p {
    color: white; }
