/*
*  HackRice 7
*  General CSS
*  William Wang
*/


/* Macros
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.horizontal-align-parent {
	text-align: center;
}

.horizontal-align-child {
	display: inline-block;
}

.vertical-align-parent {
	display: table;
}

.vertical-align-child {
	display: table-cell;
	vertical-align: middle;
}

.responsive-show {
	display: inline;
}

.responsive-hide {
	display: none;
}

.title, .subtitle {
	font-family: "Roboto", "Arial", sans-serif;
}

.mobile-margin {
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 1000px) {

	.mobile-margin {
		margin-left: inherit;
		margin-right: inherit;
	}

}

/* General styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr.dark {
	background-color: #404040;
	margin: 1.25rem 0;
}

body, button, input,
select, textarea {
	font-family: "Segoe UI", "Roboto Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Reusable styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Navbar */

.header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100vw;
	z-index: 9998;
}

.header-bg {
	position: fixed;
	width: inherit;
	height: 80px;
	background-color: #404040;
	opacity: 0;

	-webkit-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}

.header-opaque {
	opacity: .925;
}

.header #header-left {
	display: flex;
	flex-direction: row;
	width: 250px;
	margin: 15px;
}

.header #header-logo {
	display: inline-block;
	height: 50px;
	z-index: 9999;
}

.header #header-info {
	height: 50px;
	padding-left: 15px;
	color: #fff;
	z-index: 9999;
}

.header-padding {
	padding-top: 80px;
}

.blurb {
	font-size: 1rem;
}

.section-container {
	margin-top: 25px;
	margin-bottom: 75px;
}

.tile.is-ancestor {
	margin-left: 0;
	margin-right: 0;
}

.columns {
	margin-left: 0;
	margin-right: 0;
}

.box-p {
	font-size: 1.125rem;
}

/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* DESKTOP (target 1366-ish) */
@media (min-width: 1000px) {

	/* Navbar */
	.header {
		height: 120px;
	}

	.header-bg {
		height: 120px;
	}

	.header #header-left {
		width: 300px;
		margin: 25px;
	}

	.header #header-logo {
		height: 70px;
	}

	.header #header-info {
		padding-left: 25px;
		height: 70px;
	}

	.header-padding {
		padding-top: 120px;
	}

	.responsive-show {
		display: none;
	}

	.responsive-hide {
		display: block;
	}

	.blurb {
		font-size: 1.125rem;
	}

	.columns {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}
}

/* FULL HD */
@media (min-width: 1384px) {

	.blurb {
		font-size: 1.25rem;
	}

	.tile.is-ancestor {
	    margin-left: -0.75rem;
    	margin-right: -0.75rem;
	}
}

.button {
	background-color: #f4b75d; /* Green */
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	padding-left: 3%;
	padding-right: 3%;
}

/* FULL HD */
@media (max-width: 1384px) {

	.button {
		margin-top: 5vh;
}
