body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px; }

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 5px; }

h1 {
  font-weight: 700;
  font-size: 28px;
  color: white; }

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #61676E; }

h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0; }

a {
  color: #314255;
  text-decoration: none; }
  a:hover {
    color: black; }

.center-block, .logo, .btn, #notify-form-head {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center; }

.logo {
  width: 250px;
  margin-top: 7.5%; }

.btn {
  width: 200px;
  padding: 15px 10px; }

.accent-blue {
  color: #314255; }

#background {
  background: url("../img/bg-filter.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed; }

#notify-info {
  width: 275px; }

#notify-btn {
  background-color: #fff;
  color: #314255;
  transition: 0.3s ease; }
  #notify-btn:hover {
    background-color: #314255;
    color: #fff; }

#notify-link {
  width: 250px;
  font-size: 14px; }

#notify-view {
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #314255;
  transition: all 0.3s linear; }
  #notify-view form {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  #notify-view input[type="text"], #notify-view input[type="email"] {
    padding-bottom: 10px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 700px;
    color: #8E97A1; }

#notify-form-head {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px; }

.notify-input, .notify-field, .notify-label {
  display: block; }

.notify-input {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 600px) {
    .notify-input {
      width: 500px; } }

.notify-label {
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  color: white; }

.notify-field {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3px;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  transition: all 0.1s linear; }
  .notify-field:focus {
    outline: none;
    border-bottom: 4px solid #6D86A1; }
  .notify-field:focus + .notify-label {
    color: #6D86A1;
    font-weight: 600;
    font-size: 16px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

#mc-embedded-subscribe {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid white;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  width: 150px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #6D86A1;
  margin-top: 50px;
  transition: all 0.3s linear; }
  #mc-embedded-subscribe:hover {
    background-color: #314255; }

.response {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px; }

#mce-error-response {
  color: #E07A5F; }

#mce-success-response {
  color: #6D86A1; }

#mce_inline_error {
  background-color: #E07A5F; }

#close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #61676E; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #61676E; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #61676E; }

:-ms-input-placeholder {
  color: #61676E; }
