body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /*height: 100%;*/
  font-size: 16px; }

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 5px;
  color: white; }

h1 {
  font-weight: 700;
  font-size: 28px; }

h2 {
  font-weight: 300; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

a {
  color: #314255;
  text-decoration: none; }
  a:hover {
    color: black; }

#background {
  background: url("../img/bg-filter.png") no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed; }

#notify-view {
  display: none; }

.logo {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 7.5%;
  margin-bottom: 30px; }

#notify-info {
  display: block;
  width: 275px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center; }

.btn {
  width: 200px;
  padding: 1px 10px;
  margin: 0 auto;
  display: block;
  text-align: center; }

.accent-blue {
  color: #314255; }

.notify-btn {
  background-color: #fff;
  color: #314255; }

#notify-link {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 14px; }
