#owl-cage {
	#owl {
		position: absolute;
		left: 8%;
		top: 35%;
		width: 10%;
		z-index: 2;

		@include vendor(
			'transition',
			('transform 0.2s ease-in-out', 'translateX 0.3s ease-in-out')
		);

		.body.is-article-visible & {
			@include vendor('transform', 'translateX(-200px)');
		}

		.body.is-loading & {
			opacity: 0;
		}
	}

	#branch {
		position: absolute;
		left: 0px;
		top: 50%;
		width: 20%;
	}
}
