#owl-cage {
	#owl {
		position: absolute;
		left: 0%;
		top: 15%;
		width: 20%;
		z-index: 2;

		@include vendor(
			'transition',
			('transform #{_duration(article)} ease-in-out', 'translateX #{_duration(article)} ease-in-out')
		);

		.body.is-article-visible & {
			@include vendor('transform', 'translateX(-70%) translateY(-10%)');
		}

		.body.is-loading & {
			@include vendor('transform', 'translateX(-500px)');
		}
	}


	@include breakpoint(small) {
		#owl {
			bottom: 0%;
			top: 80%;
			width: 30% !important;

			@include vendor(
				'transition',
				('transform #{_duration(article)} ease-in-out', 'translateX #{_duration(article)} ease-in-out')
			);

		}

	}

}
