<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hack Rice &middot; {{page.title}}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='/css/index.css'/>
        <link rel="shortcut icon" href="/img/code.png">
		<meta property="og:title" content="HackRice" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://hack.rice.edu" />
		<meta property="og:image" content="http://hack.rice.edu/img/customLogoSquared.png" />
		<meta property="og:site_name" content="HackRice" /><meta property="og:description" content="Rice University's annual student-run hackathon"/>
	</head>
	<body>
        <div class='header'>
            <a href='/' class='logo'></a>
            <div class='important-info'>
                <div class='content'>
                    <i class='fa fa-map-marker'></i> Rice University
                    <i class='fa fa-clock-o standard-left-margin'></i> January 24th - January 26th 2014
                </div>
            </div>
        </div>
        <nav class='nav'>
            <div class='content'>
                <a href='/attend'>Attend</a>
                <!-- <a href='/rules'>Rules &amp; FAQ</a> -->
                <!-- <a href='/prizes'>Prizes</a> -->
                <a href='/schedule'>Schedule</a>
                <a href='/sponsors'>Sponsors</a>
                <a href='/resources'>Resources</a>
                <!-- <a href='/winners'>Winners</a> -->
                <!-- <a href='/photos'>Photos</a> --><!-- TODO: add back -->
            </div>
        </nav>

        <div class='content'>
		  {{ content }}
        </div>

        <script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37523631-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>