<!DOCTYPE html>
<html lang="en">

<head>
	<title>HackRice 2016 &middot; {{page.title}}</title>
    <!-- styles + fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/css/notify.css">
    <link rel="shortcut icon" href="/img/code.png">
    <!-- meta -->
	<meta property="og:title" content="HackRice" />
	<meta property="og:type" content="website" />
    <meta property="og:image" content="http://hack.rice.edu/img/customLogoSquared.png" />
	<meta property="og:url" content="http://hack.rice.edu/" />
    <meta property="og:description" content="Rice University"s annual student-run hackathon! Over $6000 in prizes! Come meet coders from Rice and other great schools, collaborate in teams, and build something awesome in only 36 hours. It will be a blast. Invite your friends from other schools to apply! We"ll provide food, caffeine, T-shirts, prizes, mentors, and more!" />
</head>

<body>
    <!-- full screen background -->
    <div id="background">
        <!-- logo -->
        <a href="/" class="logo"><img src="/img/2016logo.svg" width="250"></a>
        <!-- info -->
        <div id="notify-info" class="center-block" >
            <h1> RICE UNIVERSITY </h1>
            <h1> JAN. 15th - 17th, 2016 </h1>
        </div>
        
        <a href="/#" id="notify-btn" class="btn">
            <h3>GET UPDATES</h3>
        </a>
        
        <div id="notify-link" class="center-block"> 
            <a href="http://csclub.rice.edu"><span>Rice CS Club</span></a>
            <span class="accent-blue"> | </span>
            <a href="http://www.rice.edu"><span>Rice University</span></a>
        </div>
    </div>
    
    <div id="notify-view">
        <!-- main content -->
        <img src="/img/ex.svg" width="25" id="close">
        {{ content }}

    </div>

    <!-- javascript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        $("#notify-btn").click(function(){
            $("#notify-view").css("visibility", "visible");
            $("#notify-view").css("opacity", "1");
        });
        $("#close").click(function(){
            $("#notify-view").css("opacity", "0");
            $("#notify-view").css("visibility", "hidden");
        });
        $("#myform").bind('ajax:complete', function() {
            $("#notify-view").css("opacity", "0");
            $("#notify-view").css("visibility", "hidden");
        });

        // google analytics
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-37523631-1"]);
        _gaq.push(["_trackPageview"]);

        (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>





</body>

</html>
