<!DOCTYPE html>
<html lang="en">

<!--

    HackRice 7
    Site Design by William Wang

-->

<head>
	<!-- Metadata -->
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Facebook -->
  <meta property="og:title" content="HackRice 7 - Live">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://hack.rice.edu/img/hackrice-fb.png">
  <meta property="og:image:width" content="1248">
  <meta property="og:image:height" content="505">
  <meta property="og:url" content="http://hack.rice.edu/">
  <meta property="og:description" content="Rice University's annual student-run hackathon! Sept 22-24, 2017">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@hackrice">
  <meta name="twitter:title" content="HackRice 7">
  <meta name="twitter:description" content="Rice University's annual student-run hackathon! Sept 22-24, 2017">
  <meta name="twitter:image" content="https://hack.rice.edu/img/hackrice-twtr.png">
  <meta name="twitter:image:width" content="512">
  <meta name="twitter:image:height" content="512">

  <title>HackRice 7 &middot; Prizes</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="/vendor/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <!-- Styles -->
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/live.css">
</head>

<body>

  <!-- Sidebar -->
  <nav class="sidebar">
    <div id="sidebar-bg" class="sidebar-bg sidebar-opaque"></div>

    <div class="sidebar-content">
      <div>
        <a href="/">
          <img id="sidebar-logo" src="/img/logo-navbar.png" alt="HackRice">
        </a>
      </div>

      <!-- TODO: hamburger menu for mobile? -->
    </div>
  </nav>

  <!-- Page content -->
  {{ content }}

	<!-- GA -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37523631-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
