.rc-collapse {
  background-color: unset;
  color: #000000;
  border: unset;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.rc-collapse-header {
  text-indent: unset !important;
}

.rc-collapse-header:focus {
  border: none;
  box-shadow: unset;
  outline: none;
}

.faqCard {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: #000000;
  font-family: "Overpass Mono", monospace;
  font-weight: 300;
  padding: 18px;
  text-align: left;
  text-decoration: none;
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
  height: auto;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  transition: transform 0.15s ease-in-out;
}

.faqCard:hover {
  transform: scale(1.05);
}

.rc-collapse-item-active {
  height: auto !important;
}

.arrow {
  display: none;
  content: "";
  margin-right: 0px !important;
  border: none !important;
}

.rc-collapse-header {
  color: #000000 !important;
  height: auto !important;
  line-height: unset !important;
}

.rc-collapse-content {
  background-color: unset;
  color: #000000;
  padding: 0px;
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.9em;
  line-height: 1.5em !important;
}

.rc-collapse-content-box {
  margin-bottom: 15px !important;
  min-height: auto;
}

.rc-collapse-content-box > p {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0.8em;
  line-height: 1.3em;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: rgba(204, 203, 210, 0.05);
}

.card {
  color: #000000;
  display: inline-block;
  font-size: .9em;
}

.styledlink {
  color: #000000;
}

.styledlink:visited {
  color: #000000;
}